
Thumbs.db
Desktop.ini

.vscode/
.history/
*.code-workspace

.vs/
*.VC.db
*.VC.opendb
Debug*/
Release*/
x64/
x86/
arm*/
ARM*/

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.xcworkspace/
xcuserdata/
DerivedData/

/build*/
-/build/         
/out*/
obj/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
Testing/
_deps/
Makefile
ninja.build
.ninja_deps
.ninja_log
rules.ninja

compile_commands.json

*.obj
*.lo
*.la
*.a
*.lib
*.so
*.so.*
*.dll
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64

*.gch
*.pch
*.pdb
*.ipdb
*.idb

*.gcno
*.gcda
*.gcov
*.lcov
*.profraw
*.profdata
sanitizer*.log
core
core.*
*.log
*.tmp
*.temp
*.swp
*.swo
*.cache/
.cache/